div, p{
    width:200px;
    height: 200px;
    margin: 20px;
    border : solid 2px;
}

.degrad1{
    background: linear-gradient(to bottom left, red, green, blue);
}

.degrad2{
    background: linear-gradient(-70deg, yellow, purple 25%);
}

p{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}