h1{
    color:red;
}
h2{
    color:blue;
    font-size: 1.5em;
}
.paragraphe1, .paragraphe2{
    background-color: grey;
}
strong{
    font-weight:normal;
}
em{
    font-style: normal;
    text-decoration: underline;
    font-size: 1.3em;
    color: orange;
}
.paragraphe3{
    background-color: pink;
}
.titreArticle2{
    color: green;
    text-decoration: underline;
    text-align: right;
}
